# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
5.venv/
.env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Power BI
# =========================
*.pbix.tmp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Outputs 
# =========================
outputs/*.png
outputs/*.csv(2)
